
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="appointments">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Appointments</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="walkaround">
      <ion-icon name="car"></ion-icon>
      <ion-label>Walkaround</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="services">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Services</ion-label>
    </ion-tab-button> 
    
    <ion-tab-button tab="summary">
      <ion-icon name="list"></ion-icon>
      <ion-label>Summary</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
